/* 
    Document   : style
    Created on : 02.02.2012, 14:26:00
    Author     : seroga arcady.1254@gmail.com
    Description:
        Purpose of the stylesheet follows.
*/

/* 
   TODO customize this sample style
   Syntax recommendation http://www.w3.org/TR/REC-CSS2/
*/

root { 
    display: block;
}
html, body {
  margin:0;
  padding:0;
  width:100%;
  height:100%;
   font-family: sans-serif;	
	font-size: 10pt;
}
div.selector {
	background-color:#cccccc;
	border-top:3px solid #a7a7a7;
	border-bottom:1px solid white;
	font-size:4ex;
	padding: 0 0 0 0;
	margin-top:7px;
	width:100%;
        height: 28px;
	}

span.selector {
	display: inline;
	margin-right: 2px;
	}

span.selector2 {
	display: inline;
	position: absolute;
	right: 5px;
	margin:0 0 0 0;
	padding:0 0 0 0;
	font-size:8pt;
	
}

span.selector3 {
	display: inline;
	position: absolute;
	right: 5px;
	margin:0 0 0 0;
	padding-top: 5px;
	font-size: 1ex;
}
input.submit3 {
	font-size: 8pt;
	font-weight: bold;
/*	width:2em;*/
	margin-left: 3px;
	margin-bottom: 0px;
	margin-right: 0px;
	margin-top:0px;	
	position:relative;	
}
div.images{
    position: relative;
    margin-left: 50px;
    margin-top: 30px;
    padding-left: 60px;
}
div.img_red{
    position: relative;
    float: left;
}
